<mat-card class="dialog-content" *ngIf="!(loaderService.loaderSubject | async)" [style.background-image]="'url(' + (peopleDataService.person | async).background_url + ')'">
  <h1>People profile</h1>
  <mat-card-header>
    <div mat-card-avatar [style.background-image]="'url(' + (peopleDataService.person | async)?.avatar + ')'" class="example-header-image"></div>
    <mat-card-title>Id: {{(peopleDataService.person | async).id}}</mat-card-title>
    <mat-card-title>Name: {{(peopleDataService.person | async).first_name}} {{(peopleDataService.person | async).last_name}}</mat-card-title>
    <mat-card-title>Age: {{(peopleDataService.person | async).age}}</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-dialog-close mat-button>Close</button>
  </mat-card-actions>
</mat-card>