.example-card {
    width: 91%;
}

.example-header-image {
    background-size: cover;
}


.dialog-content {
    display: flex;
    height: 89%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.example-card {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 15;
    color: black;
}